*{
    border:0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    font-size: 3rem;
    margin: 1rem 0;
}

img {
    width: 800px;
    height: 500px;
    display: block;
    margin: 2rem auto;
}

p {
    width: 43%;
    margin: 1rem auto;
    font-size: 1.1rem;
}